html *{
    font-family: sans-serif !important; 
}
body {
    background: rgb(109, 109, 109);
    margin: 0;
}

.topsection {
    background: #1F2937;
    padding-right: 25px;
    padding-bottom: 25px;
}

a { 
    text-decoration: none;
    color: white;
}

ul {

    display: flex;
    justify-content: space-evenly;
    gap: 25px;
}

li {
    list-style-type: none;
}

.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 48px;
}

.image-text-head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 2.5em;

}


.text {
    max-width: 400px;
    margin: 0;
}

img {
    width: 500px;
    height: 250px;
}

.sec1signup {
    background-color: #4f7fdd;
    border-radius: 12px;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
}

.container-title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;

}

.second-container {
    padding-top: 25px;

    display: flex;
    justify-content: center;
    gap: 42px;
    text-align: center;
}


.info {
    max-width: 150px;
}

.leaf{
    width: 100px;
    height: 100px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: .5em;
    border-radius: 0.5em;
}

.outter-container {
    background-color: rgb(255, 255, 255);
    padding-bottom: 48px;
}
/*TEXT COLOURING, FONTS AND SIZES*/

h1 {
    color: white;
    font-size: 20px;
}

p {
    color: white;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #F0FAF8;
    margin: 0;
}
.sub-text {
    font-size: 18px;
    outline-color: #E5E7EB;

}
.second-title {
        font-size: 32px;
        font-weight: 900;
        color: #000000;
        text-align: center;
        padding-top: 32px;
}
.subtext {
    text-align: center;
}
/*TEXT COLOURING, FONTS AND SIZES*/

.third-container{
    background-color: #E5E7EB;
    padding: 64px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 25%;
    padding-left: 25%;
}
.quote{
    font-size: 26px;
    color: #1F2937;

}
.who-is-it {
    font-size: 18px;
    font-weight: 750;
    display: flex;
    align-self: flex-end;
}

.sec4bg {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;

}

.sec4content {
    background:rgb(62, 72, 219);
    width: 60em;
    padding: 2em 0;
    border-radius: 0.5em;
    display: flex;
    justify-content: space-evenly;
}

.sec4text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 0 2em 0 4em;
    line-height: 1.3em;
}
.sec4header {
    font-weight: bold;
    font-size: 18px;
}
.sec4subtext {
    font-size: 16px;
    margin-top: 2px;
}
.sec4signupcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5em 0 3em;
}
.sec4signup {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
}
.footer {
    text-align: center;
    background: #26364d;
    padding: 1.5em; 
    color: white;
}